<!DOCTYPE html>
<html>
  <head>
    <title>Debate</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->

  </head>


  <body>
    <img src="/static/debate.png">
    <br>
    <!-- Code from https://www.geeksforgeeks.org/python/flask-web-sockets/ -------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> <!-- Use pre-exististing socket JS library -->
    <script>
      var socket = io();
      var username = prompt("Enter your name:")
      socket.emit("join", username);

      //listen
      socket.on("message", function(data){
	  var messages = document.getElementById("messages");
	  messages.innerHTML += `<p>${data}</p>`;
      });

      // send messages
      function sendMessage() {
	  var msgInput = document.getElementById("msg");
	  var message = msgInput.value;
	  socket.send(message);
	  msgInput.value = "";
      }
      </script>

    <br><br>
    <h2 id="prompt1">Prompt: {{ prompttext}}</h2>
    <!-- <script> -->
    <!--   const pr1 = document.getElementById('prompt1'); -->

    <!--   pr1.innerHTML = "test"; -->
    <!-- </script> -->
    <input id="msg" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>

    <!------------------------------------------------------------------------------>
    <br><br><br>
  </body>
</html>
